/* styles.css */

* {
    font-family: Comfortaa;
    /* text-transform: uppercase; */
    color:#333;
    text-decoration: none;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 20px;
}

main h2 {
    text-align: center;
}

main p {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

#tulip {
    height: 100vh;
    background-image: url('images/tulips.png');
    background-size: auto 100%;
    background-position: center; 
    background-repeat: no-repeat;
    color: white; 
    padding: 20px;
}

#contact ul {
    list-style: none;
    display: table;
    margin: 0 auto;     
}

#contact li {
    display: table-row;
}

#contact b {
    display: table-cell;
    text-align: right;
    padding-right: 0.25em;
}