/* styles.css */

* {
    font-family: Comfortaa;
    /* text-transform: uppercase; */
    color:#333;
    text-decoration: none;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background: #fff;
    color: #333;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

header .title {
    font-weight: 100;
}

nav {
    display: flex;
    position: relative;
    white-space: nowrap;
}

header nav ul li a:hover{
    color:#bcbaba;
}

/* header nav ul li:hover{
    text-decoration:underline;
    color:#555;
} */

.nav-left {
    flex: 1;
    justify-content: flex-start;
}

#capsule-items{
    position: relative;
}

#dropdown-items {
    display: none;
    position: absolute;
    font-size: 11px;
    animation: animateFromBottom .3s;
}
  
#capsule-items:hover #dropdown-items {
    display: block;
}

@keyframes animateFromBottom {
    from {
      transform: translate3d(0, 10px, 0);
      opacity: 0
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
}

@keyframes animateToBottom {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
    to {
      transform: translate3d(0, 10px, 0);
      opacity: 0
    }
}

.title {
    text-align: center;
    /* flex: 0 1 auto; */
    flex-grow: 1; 
    margin: 0;
}

.nav-right {
    flex: 1;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 20px;
}

main h2 {
    text-align: center;
}

main p {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

#tulip {
    height: 100vh;
    background-image: url('images/tulips.png');
    background-size: auto 100%;
    background-position: center; 
    background-repeat: no-repeat;
    color: white; 
    padding: 20px;
}

footer {
    /* text-align: center; */
    color: #333;
    background: #fff;
    /* padding: 20px 0; */
    /* make footer sticky */
    /* position: fixed; */ 
    bottom: 0;
    /* width: 100%; */
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* footer nav ul {
    list-style: none;
    padding-right: 0;
    margin-right: 0;
    padding-right: 20px;
} */

/* footer nav ul li {
    display: inline-block;
    font-size: 10px;
} */

/* nav {
    display: flex;
} */

.copyright {
    flex: 1;
    justify-content: flex-start;
    font-size: 10px;
}

.contact {
    flex: 1;
    justify-content: flex-end;
    font-size: 10px;
}

.contact li {
    list-style: none;
}

.contact li a:hover{
    color:#bcbaba;
}

#contact ul {
    list-style: none;
    display: table;
    margin: 0 auto;     
}

#contact li {
    display: table-row;
}

#contact b {
    display: table-cell;
    text-align: right;
    padding-right: 0.25em;
}